* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#board {
	margin: 0 auto;
}

#fieldsContainer {
	display: flex;
	flex-wrap: wrap;
}

#bordersContainerLeft {
	float: left;
	padding-top: 50px;
}

#bordersContainerTop {
	float: left;
}

#bordersContainerRight {
	float: right;
	padding-top: 20px;
}

#bordersContainerBottom {
	padding-left: 35px;
}

#bordersContainerTop span,
#bordersContainerBottom span {
	padding-top: 5px;
}